<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Config -->
  <listener>
    <listener-class>isys1118.group1.server.ServerConfig</listener-class>
  </listener>

  <!-- Servlets -->
  <servlet>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>isys1118.group1.server.MenuServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/sef_assignment/test</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>changeController</servlet-name>
    <servlet-class>isys1118.group1.server.ChangeControllerServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>changeController</servlet-name>
    <url-pattern>/sef_assignment/change</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>changeStatus</servlet-name>
    <servlet-class>isys1118.group1.server.ChangeCourseStatusServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>changeStatus</servlet-name>
    <url-pattern>/sef_assignment/coursestatus</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>submitActivity</servlet-name>
    <servlet-class>isys1118.group1.server.SubmitActivityServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>submitActivity</servlet-name>
    <url-pattern>/sef_assignment/submit</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>updateCasual</servlet-name>
    <servlet-class>isys1118.group1.server.UpdateCasualServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>updateCasual</servlet-name>
    <url-pattern>/sef_assignment/updatecasual</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>isys1118.group1.server.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/sef_assignment/login</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SEF_Assignment.html</welcome-file>
  </welcome-file-list>

</web-app>
