/** No longer in use
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

#closeButton {
  margin: 15px 6px 6px;
}
*/

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#menu {
  width: 250px;
  padding: 150px 10px 10px 10px;
  float: left;
  
}

#main {
  width: 100%;
  padding: 10px;
  max-width: 900px;
  display: block;
  margin-left: 250px;
  border-left: solid 1px #A0A0A0;
}

.container {
  padding: 20px;
  width: 100%;
}

.container-row {
  margin: 0px auto;
  width: 100%;
  max-width: 1200px;
  min-width: 600px;
  display: block;
}

div {
  box-sizing: border-box;
}

.card p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.card {
  border: black solid 1px;
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
}

.card-line {
  min-width: 200px;
}

.card-line td {
  min-width: 200px;
}

.full-card-line {
  width: 100%;
}

.full-card-line td {
  min-width: 200px;
}

.right-align {
  float: right;
}

.card:hover, .pretty-link:hover {
  background-color: #E0E0FF;
}

.card:hover, .pretty-link {
  cursor: pointer;
}

.pretty-link {
  color: #0000A0;
}

.card-list {
  width: 800px;
}

.invalid-result {
	color: red;
}

#message, #popup {
	visibility: hidden;
}