/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

#menu {
	width: 250px;
	padding: 150px 10px 10px 10px;
	float: left;
}

#main {
	width: 100%;
	padding: 10px;
	max-width: 900px;
	display: block;
	margin-left: 250px;
	border-left: solid 1px #A0A0A0;
}

.container {
	padding: 20px;
	width: 100%;
}

.container-row {
	margin: 0px auto;
	width: 100%;
	max-width: 1200px;
	min-width: 600px;
	display: block;
}

div {
	box-sizing: border-box;
}

.card p, .select-casual-single p {
	margin-top: 0px;
	margin-bottom: 0px;
}

.card, .select-casual-single {
	border: black solid 1px;
	padding: 5px;
	width: 100%;
	margin-bottom: 5px;
}

.card-third-line, .card-half-line, .card-simple-line {
	width: 100%;
}

.card-third-line td {
	min-width: 20%;
}

.card-half-line td {
	min-width: 40%;
}

.right-align {
	float: right;
}

.card:hover, .pretty-link:hover, .select-casual-single:hover {
	background-color: #E0E0FF;
}

.card, .pretty-link, .select-casual-single {
	cursor: pointer;
}

.pretty-link {
	color: #0000A0;
}

.card-list {
	width: 800px;
}

.no-overflow {
	overflow: hidden;
}

.rejected, .overpriced {
	color: red;
}

#message, #popup {
	visibility: hidden;
}

#message {
	position: fixed;
	display: block;
	text-align: center;
	color: red;
	background-color: #FFC0C0;
}

.form-error {
	color: red;
	display: none;
}

.selected {
	border: 4px solid black;
}

.conflict {
	background-color: #888888;
	color: #444444;
}

#container-row {
	visibility: hidden;
}

#login {
	visibility: visible;
	background-color: #FFFFFF;
	position: absolute;
	width: 100%;
	height: 100%;
}

.login-box {
	width: 400px;
	height: 300px;
	display: block;
	margin: 200px auto 0px auto;
	border: 2px solid black;
	padding: 20px;
}

#login-message {
	visibility: hidden;
	color: red;
}

.hint-table-header td, .hint-table-row td {
	width: 80px;
	padding: 5px;
}

.hint-table-header {
	border-bottom: 1px solid black;
}